<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzh.shop.mapper.OrderMapper">

    <update id="updateOrder">
        update orders a,commodity b set a.commodity = b.name,a.price = b.price where a.p_id = b.id
    </update>
</mapper>